body { /*everything in the center with padding */
   text-align: center;
   background-color: black; 
   color: white;
}

h1 { 
    font-family: monospace;
    font-size: 250%;
    /*gradient color scheme*/
    background: -webkit-linear-gradient(#eee, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div{
    font-style: oblique;
    color: rgb(172, 166, 166);
    padding: 5px;
}

button{
    border-radius: 50%;
    cursor: pointer;
    /*transition: 300s;*/
}

pre{
    font-size: 10%;
}

