body {
    width: 100%;
   text-align: center;
   background-image: url(background.jpeg); 
   color: white;
   border: 0px;
   }

h1 { 
    font-family: monospace;
    font-size: 250%;
    /*gradient color scheme*/
    background: -webkit-linear-gradient(#eee, rgb(65, 16, 16));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    display: inline
}

div{
    font-weight: bolder;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: rgb(56, 46, 46);
    padding: 10px;
}

.scoreBoard {
border: 1px solid;
border-radius: 5px;
box-shadow: 1px 1px 1px rgb(65, 57, 57);
width: 10%;
margin: auto;
}

button{
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    padding: 25px;
    border: 4px solid rgb(104, 34, 34);
    transition: 250ms ease-in-out;
}

button:hover{
    border-color:rgb(161, 84, 75);
}

#fire{
    background-image: url("fire.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat;*/
} 

#water{
    background-image: url("water.jpeg");
    background-size:100%;
}

#wind{
    background-image: url("wind.jpeg");
    background-size: 100%;
}

#modalButton{
    border-radius: 4px;
    background-color:rgb(65, 57, 57);
    color: rgb(161, 84, 75);
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto; /*in case you need to scroll */
    background-color: rgba(0,0,0,0.5);
}

.modalBody{
    background-color: white;
    margin: 20%;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8 px 0 gray;



}

pre{
    font-size: 10%;
    border: 3px dashed rgb(161, 84, 75);
    padding: 5px;
    width: 20%;
    margin: auto;
}

/* .bg-modal {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
} */